.about-container {
  padding: 80px 20px 80px 0px;
  display: flex;
  gap: 100px;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.about-container .title {
  margin-bottom: 70px;
  line-height: 1.2;
  font-size: 45px;
  margin-top: 58px;
}

.about-container .description {
  width: 734px;
  margin-bottom: 0px;
  overflow: auto;
  box-sizing: border-box;
}

.scientist-image {
  width: 100%;
  border-radius: 8px;
}

.text-container {
  flex: 0.8;
}

.image-container {
  flex: 0 0 500px;
  border: 2px solid rgba(0, 150, 255, 0.6);
  padding: 20px;
  border-radius: 16px;
}

.description.full {
  display: block;
}

.description.short {
  display: none;
}

@media screen and (max-width: 1024px) {
  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0px 20px 40px 20px;
    gap: 40px;
  }

  .image-container {
    flex: 0 0 auto;
    width: 48%;
    padding: 12px;
  }
  .image-container img {
    width: 100%;
    aspect-ratio: 1 / 1.3; 
    object-fit: cover;   
    border-radius: 12px; 
  }

  .text-container {
    flex: 1;
    width: 100%;
  }

  .about-container .title {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
  }

  .about-container .description {
    width: 100%;
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
  }

  .description.full {
    display: none;
  }

  .description.short {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0px 20px 40px 20px;
    gap: 40px;
  }

  .image-container {
    flex: 0 0 auto;
    width: 90%;
    padding: 12px;
  }

  .image-container img {
    width: 100%;
    aspect-ratio: 1 / 1.3; 
    object-fit: cover; 
    border-radius: 12px; 
  }

  .text-container {
    flex: 1;
    width: 100%;
  }

  .about-container .title {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
  }

  .about-container .description {
    width: 100%;
    text-align: justify;
  }

  .description.full {
    display: none;
  }

  .description.short {
    display: block;
  }
}

@media (max-width: 768px) {
  .about-container .title { font-size: 2.1rem;}

  .about-container .description { font-size: 1.2rem; }
}

@media (max-width: 768px) {
  .about-container .title { font-size: 2.4rem; }
  
  .about-container .description { font-size: 1.4rem; }
} 

@media (min-height: 1440px) {
  .about-container .title { font-size: 2.5rem; }
  .about-container .description { font-size: 1.3rem; }
}

@media (min-width: 2560px) {
  .about-container .title { font-size: 3.5rem; }
  .about-container .description { font-size: 1.7rem; }
}

@media (min-width: 3840px) {
  .about-container .title { font-size: 4rem; }
  .about-container .description { font-size: 2.3rem; }
}