.about-container {
  padding: 80px 20px 80px 0px;
  display: flex;
  gap: 100px;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto; 
}

.about-container .title {
  margin-bottom: 70px; 
  line-height: 1.2;
}

.about-container .description {
  width: 734px;  
  margin-bottom: 0px;
  overflow: auto;     
  box-sizing: border-box;
}

.scientist-image {
  width: 100%;      
  border-radius:8px;
}

.text-container {
  flex: 0.8;          
}

.image-container {
  flex: 0 0 500px;
  border: 2px solid rgba(0, 150, 255, 0.6);
  padding: 20px;
  border-radius: 16px;     
}

.description.full {
  display: block;
}

.description.short {
  display: none;
}