.about-container {
  padding: 80px 10px;
  padding-left: 150px;
  gap: 50px;
  display: flex;
  align-items: flex-start;              
}

.about-container .title {
  margin-bottom: 70px; 
  line-height: 1.2;
}

.about-container .description {
  width: 734px;  
  margin-bottom: 0px;
  overflow: auto;     
  box-sizing: border-box;
}

.scientist-image {
  width: 100%;      
  border-radius: 10px;
}

.text-container {
  flex: 0.8;          
}

.image-container {
  flex: 0 0 500px;      
}