.about-container {
  padding: 80px 10px;
  padding-left: 150px;
  gap: 50px;
  display: flex;
  align-items: flex-start;              
}

.about-container .title {
  margin-bottom: 40px; 
  line-height: 1.2;
}

.underline {
  width: 650px;
  height: 2px;
  background-color: #ffffff;
  margin: 10px 20px 70px 50px;
  border-radius: 2px;
}
.scientist-image {
  width: 100%;      
  border-radius: 10px;
}

.text-container {
  flex: 0.8;          
}

.image-container {
  flex: 0 0 500px;      
}