.hero-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 160px 0 0 150px;
  min-height: 600px;
  overflow: hidden;
}

.text-container {
  flex: 1;
  z-index: 2;
  max-width: 734px;
}

.description {
  width: 100%;  
  margin-bottom: 0px;
  overflow: auto;    
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  top: -12vh;    
  right: -10vw;
  width: 55vw;
  min-width: 700px;
  max-width: 1100px;
  z-index: 1;    
  animation: floatY 9s ease-in-out infinite;  
}

.earth-image {
  width: 100%;      
  height: auto;
  animation: floatX 15s ease-in-out infinite;
}

@keyframes floatY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
