.hero-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 160px 0 0 150px;
  min-height: 600px;
  overflow: hidden;
}

.text-container {
  flex: 1;
  z-index: 2;
  max-width: 734px;
}

.description {
  width: 100%;  
  margin-bottom: 0px;
  overflow: auto;    
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  top: -12vh;    
  right: -10vw;
  width: 55vw;
  min-width: 700px;
  max-width: 1100px;
  z-index: 1;
  animation: floatY 9s ease-in-out infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.earth-image {
  width: 100%;      
  height: auto;
  display: block;
  animation: floatX 15s ease-in-out infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

@keyframes floatY {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -15px, 0);
  }
}

@keyframes floatX {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(20px, 0, 0);
  }
}

@media (min-height: 900px) {
  .image-container {
    top: -25vh;
    right: -7vw;
  }
}

@media (min-height: 1080px) {
  .image-container {
    top: 0vh;
  }
}

@media (max-height: 768px) {
  .image-container {
    top: -20vh;
  }
}