.hero-container {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  position: relative;
  padding-bottom: 10vh;
  min-height: 80vh; 
  overflow: hidden;
}

.text-container {
  flex: 1;
  z-index: 2;
  max-width: 38vw;
  padding: 40px 0;
  transform: translateY(-60px);
  margin-left: 12vw; 
}

.description {
  width: 100%;  
  margin-bottom: 0px;
  overflow: auto;    
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  top: -15vh;    
  right: -7vw;
  width: 55vw;
  min-width: 55vw;
  max-width: 76vw;
  z-index: 1;
  animation: floatY 9s ease-in-out infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.earth-image {
  width: 100%;      
  height: auto;
  display: block;
  animation: floatX 15s ease-in-out infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

@keyframes floatY {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -15px, 0);
  }
}

@keyframes floatX {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(20px, 0, 0);
  }
}
