.hero-container {
  display: flex;
  align-items: flex-start; 
  position: relative; 
  padding: 160px 0 0 150px;
  min-height: 600px; 
}

.text-container {
  flex: 1; 
  z-index: 2; 
}

.description {
  width: 734px;  
  margin-bottom: 0px;
  overflow: auto;     
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  top: -120px;     
  right: -150px;   
  width: 850px;      
  z-index: 1;       
}

.earth-image {
  width: 100%;       
  height: auto;     
}



 