.hero-container {
  display: flex;
  align-items: flex-start; 
  position: relative; 
  padding: 160px 0 0 150px;
  min-height: 600px; 
  overflow-x: hidden;
}

.text-container {
  flex: 1; 
  z-index: 2; 
}

.description {
  width: 734px;  
  margin-bottom: 0px;
  overflow: auto;     
  box-sizing: border-box;
}

.image-container {
  position: absolute;
  top: -120px;     
  right: -150px;   
  width: 850px;      
  z-index: 1;    
  animation: floatY 9s ease-in-out infinite;   
}

.earth-image {
  width: 100%;       
  height: auto; 
  animation: floatX 15s ease-in-out infinite;
}

@keyframes floatY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

 