@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.forms-container {
  padding: 80px 10px;
  padding-left: 125px;
  display: flex;
}

.text-container {
  flex: 0.85;          
}

.forms-container .title {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 84px;
  width: 875px;
}

.forms-container .subtitle {
  margin-top: 150px;
  margin-bottom: -3px;
  width: 734px;
  font-size: 30px;
  margin-left: 50px;
  color: rgb(255, 255, 255);
}

.form-box {
  flex: 0 0 475px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
}

.form-box h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-box input {
  padding: 12px 15px;
  border-radius: 12px;
  margin-top: -20px;
  margin-bottom: -10px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 15px;
  font-size: 14px;
}

.checkbox-container {
  display: flex;
  align-items: center; 
  gap: 10px;          
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0;
}

.checkbox-container label {
  display: inline-block; 
  cursor: pointer;       
}

.form-box button {
  margin: 0 auto 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
  padding: 12px;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="date"] {
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  appearance: none; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

