.trajetoria-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.trajetoria-container .title{
    color: #ffffff;
    margin-left: 300px;
    margin-bottom: 0px;
}

.trajetoria-container img {
  position: absolute;
  height: auto; 
  transition: transform 0.3s ease;
}

.trajetoria-container img:hover {
  transform: scale(1.1);
}

.label {
  position: absolute;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.earth { width: 150px; }
.moon { width: 115px; }
.space_station { width: 150px; }
.mars { width: 185px; }
.rocket { width: 50px; }

.earth { top: 60%; left: 20%; }
.earth-label { top: 72%; left: 23%; font-size: 17px; }

.moon { top: 35%; left: 42%; }
.moon-label { top: 45%; left: 44.3%; font-size: 17px; }

.space_station { top: 77%; left: 50%; }
.space_station-label { top: 75%; left: 51%; font-size: 17px; }

.mars { top: 50%; left: 75%; }
.mars-label { top: 65%; left: 79%; font-size: 17px; }

.rocket { top: 57%; left: 26%; } 


