.trajectory-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.trajectory-container .title{
    color: #ffffff;
    margin-top: 60px;
    text-align: center;
}

.trajectory-subtitle{
    color: #ffffff;
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
    margin-bottom: 20px;
}

.trajectory-container img {
  position: absolute;
  height: auto; 
  transition: transform 0.3s ease;
}

.trajectory-container img:hover {
  transform: scale(1.1);
}

.label {
  position: absolute;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Tamanhos maiores */
.earth { width: 180px; }
.moon { width: 130px; }
.space_station { width: 170px; }
.mars { width: 200px; }

/* Planetas reposicionados */
.earth { top: 55%; left: 18%; }
.earth-label { top: 74%; left: 22.8%; font-size: 16px; }

.moon { top: 25%; left: 38%; }
.moon-label { top: 38%; left: 41.6%; font-size: 15px; }

.space_station { top: 65%; left: 50%; }
.space_station-label { top: 63%; left: 52%; font-size: 15px; }

.mars { top: 40%; left: 73%; }
.mars-label { top: 61%; left: 78.4%; font-size: 16px; }

.rocket {
  width: 60px;
  position: absolute;
  top: 60%;
  left: 10%;
}
