body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.title {
  font-size: 50px; 
  color: #fdfdfd;
  text-align: left;
  margin-left: 50px;
}

.description {
  font-size: 26.3px; 
  color: #ffffff;
  max-width: 650px;
  text-align: left;
  margin-left: 50px;
  line-height: 1.4;
  margin-bottom: 20px;
}

@media (min-width: 3840px) {
  .title { font-size: 4rem; }
  .description { font-size: 2.3rem; }
}

@media (min-width: 2560px) {
  .title { font-size: 3.5rem; }
  .description { font-size: 1.7rem; }
}

@media (min-height: 1440px) {
  .title { font-size: 2.5rem; }
  .description { font-size: 1.3rem; }
}

@media (max-width: 1024px) { 
  .title { font-size: 2.4rem; }
  .description { font-size: 1.4rem; }
}

@media (max-width: 768px) { 
  .title { font-size: 2.1rem; }
  .description { font-size: 1.2rem; }
}
