@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.forms-container {
  padding: 80px 10px;
  display: flex;
  padding-left: 80px;
}

.text-container {
  flex: 0.85;
}

.forms-container .title {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 68px;
  width: 675px;
}

.forms-container .subtitle {
  margin-top: 150px;
  margin-bottom: -3px;
  width: 734px;
  font-size: 20px;
  margin-left: 50px;
  color: rgb(255, 255, 255);
}

.form-box {
  flex: 0 0 420px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
}

.form-box h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-box p {
  font-size: 14px;
  font-weight: 600;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-box input {
  padding: 12px 15px;
  border-radius: 12px;
  margin-top: -20px;
  margin-bottom: -10px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.checkbox-container {
  display: flex;
  flex-direction: column; /* empilha o checkbox-label e o erro */
  align-items: flex-start;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.checkbox-label {
  display: flex;
  align-items: center; /* checkbox e label lado a lado */
  gap: 10px;
}

.checkbox-label input[type='checkbox'] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0;
}

.checkbox-label label {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}
.form-box button {
  margin: 0 auto 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
  padding: 12px;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type='date'] {
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.error {
  color: red;
  font-size: 14px;     
  margin-top: 4px;     
  display: block;    
}
